<div>
  <h2 id="page-heading" data-cy="LikeHistoryHeading">
    <span jhiTranslate="starMindApp.likeHistory.home.title">LikeHistories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="starMindApp.likeHistory.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-like-history"
        [routerLink]="['/like-history/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="starMindApp.likeHistory.home.createLabel">Créer un nouveau Like History</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (likeHistories?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="starMindApp.likeHistory.home.notFound">Aucun Like History trouvé</span>
    </div>
  }

  @if (likeHistories && likeHistories.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="action">
              <div class="d-flex">
                <span jhiTranslate="starMindApp.likeHistory.action">Action</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="actionDate">
              <div class="d-flex">
                <span jhiTranslate="starMindApp.likeHistory.actionDate">Action Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="oldLikes">
              <div class="d-flex">
                <span jhiTranslate="starMindApp.likeHistory.oldLikes">Old Likes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="newLikes">
              <div class="d-flex">
                <span jhiTranslate="starMindApp.likeHistory.newLikes">New Likes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idea.id">
              <div class="d-flex">
                <span jhiTranslate="starMindApp.likeHistory.idea">Idea</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (likeHistory of likeHistories; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/like-history', likeHistory.id, 'view']">{{ likeHistory.id }}</a>
              </td>
              <td>{{ likeHistory.action }}</td>
              <td>{{ likeHistory.actionDate | formatMediumDatetime }}</td>
              <td>{{ likeHistory.oldLikes }}</td>
              <td>{{ likeHistory.newLikes }}</td>
              <td>
                @if (likeHistory.idea) {
                  <div>
                    <a [routerLink]="['/idea', likeHistory.idea.id, 'view']">{{ likeHistory.idea.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/like-history', likeHistory.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/like-history', likeHistory.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(likeHistory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
