<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (globalChat(); as globalChatRef) {
      <div>
        <h2 data-cy="globalChatDetailsHeading"><span jhiTranslate="starMindApp.globalChat.detail.title">Global Chat</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ globalChatRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="starMindApp.globalChat.name">Name</span></dt>
          <dd>
            <span>{{ globalChatRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="starMindApp.globalChat.users">Users</span></dt>
          <dd>
            @for (users of globalChatRef.users; track $index; let last = $last) {
              <span> {{ users.id }}{{ last ? '' : ', ' }} </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/global-chat', globalChatRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
