<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-attachment-heading" data-cy="AttachmentCreateUpdateHeading" jhiTranslate="starMindApp.attachment.home.createOrEditLabel">
        Créer ou éditer un Attachment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="starMindApp.attachment.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let fileNameRef = editForm.get('fileName')!;
        <div class="mb-3">
          <label class="form-label" for="field_fileName" jhiTranslate="starMindApp.attachment.fileName">File Name</label>
          <input type="text" class="form-control" name="fileName" id="field_fileName" data-cy="fileName" formControlName="fileName" />
          @if (fileNameRef.invalid && (fileNameRef.dirty || fileNameRef.touched)) {
            <div>
              @if (editForm.get('fileName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let fileTypeRef = editForm.get('fileType')!;
        <div class="mb-3">
          <label class="form-label" for="field_fileType" jhiTranslate="starMindApp.attachment.fileType">File Type</label>
          <input type="text" class="form-control" name="fileType" id="field_fileType" data-cy="fileType" formControlName="fileType" />
          @if (fileTypeRef.invalid && (fileTypeRef.dirty || fileTypeRef.touched)) {
            <div>
              @if (editForm.get('fileType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let dataRef = editForm.get('data')!;
        <div class="mb-3">
          <label class="form-label" for="field_data" jhiTranslate="starMindApp.attachment.data">Data</label>
          <div>
            @if (dataRef.value) {
              <div class="form-text text-danger clearfix">
                <a
                  class="pull-start"
                  (click)="openFile(dataRef.value!, editForm.get('dataContentType')!.value!)"
                  jhiTranslate="entity.action.open"
                  >Ouvrir</a
                ><br />
                <span class="pull-start">{{ editForm.get('dataContentType')!.value }}, {{ byteSize(dataRef.value!) }}</span>
                <button
                  type="button"
                  (click)="editForm.patchValue({ data: undefined, dataContentType: undefined })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_data"
              data-cy="data"
              (change)="setFileData($event, 'data', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="data" id="field_data" data-cy="data" formControlName="data" />
          <input type="hidden" class="form-control" name="dataContentType" id="field_dataContentType" formControlName="dataContentType" />
          @if (dataRef.invalid && (dataRef.dirty || dataRef.touched)) {
            <div>
              @if (editForm.get('data')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_relatedIdea" jhiTranslate="starMindApp.attachment.relatedIdea">Related Idea</label>
          <select
            class="form-control"
            id="field_relatedIdea"
            data-cy="relatedIdea"
            name="relatedIdea"
            formControlName="relatedIdea"
            [compareWith]="compareIdea"
          >
            <option [ngValue]="null"></option>
            @for (ideaOption of ideasSharedCollection; track $index) {
              <option [ngValue]="ideaOption">{{ ideaOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
