<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (attachment(); as attachmentRef) {
      <div>
        <h2 data-cy="attachmentDetailsHeading"><span jhiTranslate="starMindApp.attachment.detail.title">Attachment</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ attachmentRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="starMindApp.attachment.fileName">File Name</span></dt>
          <dd>
            <span>{{ attachmentRef.fileName }}</span>
          </dd>
          <dt><span jhiTranslate="starMindApp.attachment.fileType">File Type</span></dt>
          <dd>
            <span>{{ attachmentRef.fileType }}</span>
          </dd>
          <dt><span jhiTranslate="starMindApp.attachment.data">Data</span></dt>
          <dd>
            @if (attachmentRef.data) {
              <div>
                <a (click)="openFile(attachmentRef.data ?? '', attachmentRef.dataContentType)" jhiTranslate="entity.action.open">Ouvrir</a>
                {{ attachmentRef.dataContentType }}, {{ byteSize(attachmentRef.data ?? '') }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="starMindApp.attachment.relatedIdea">Related Idea</span></dt>
          <dd>
            @if (attachment()!.relatedIdea) {
              <div>
                <a [routerLink]="['/idea', attachment()!.relatedIdea?.id, 'view']">{{ attachmentRef.relatedIdea?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/attachment', attachmentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
