<div>
  <h2 id="page-heading" data-cy="CategoryHeading">
    <span jhiTranslate="starMindApp.category.home.title">Categories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="starMindApp.category.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-category"
        [routerLink]="['/category/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="starMindApp.category.home.createLabel">Créer un nouveau Category</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (categories?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="starMindApp.category.home.notFound">Aucun Category trouvé</span>
    </div>
  }

  @if (categories && categories.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="starMindApp.category.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="starMindApp.category.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="level">
              <div class="d-flex">
                <span jhiTranslate="starMindApp.category.level">Level</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="parentCategory.id">
              <div class="d-flex">
                <span jhiTranslate="starMindApp.category.parentCategory">Parent Category</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="superCategory.id">
              <div class="d-flex">
                <span jhiTranslate="starMindApp.category.superCategory">Super Category</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (category of categories; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/category', category.id, 'view']">{{ category.id }}</a>
              </td>
              <td>{{ category.name }}</td>
              <td>{{ category.description }}</td>
              <td>{{ category.level }}</td>
              <td>
                @if (category.parentCategory) {
                  <div>
                    <a [routerLink]="['/category', category.parentCategory.id, 'view']">{{ category.parentCategory.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (category.superCategory) {
                  <div>
                    <a [routerLink]="['/category', category.superCategory.id, 'view']">{{ category.superCategory.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/category', category.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/category', category.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(category)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
