<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (vote(); as voteRef) {
      <div>
        <h2 data-cy="voteDetailsHeading"><span jhiTranslate="starMindApp.vote.detail.title">Vote</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ voteRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="starMindApp.vote.voteOption">Vote Option</span></dt>
          <dd>
            <span [jhiTranslate]="'starMindApp.VoteOption.' + (voteRef.voteOption ?? 'null')">{{
              { null: '', POUR: 'POUR', CONTRE: 'CONTRE', NEUTRE: 'NEUTRE' }[voteRef.voteOption ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="starMindApp.vote.comment">Comment</span></dt>
          <dd>
            <span>{{ voteRef.comment }}</span>
          </dd>
          <dt><span jhiTranslate="starMindApp.vote.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ voteRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="starMindApp.vote.voter">Voter</span></dt>
          <dd>
            <span>{{ voteRef.voter?.id }}</span>
          </dd>
          <dt><span jhiTranslate="starMindApp.vote.idea">Idea</span></dt>
          <dd>
            @if (vote()!.idea) {
              <div>
                <a [routerLink]="['/idea', vote()!.idea?.id, 'view']">{{ voteRef.idea?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/vote', voteRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
