<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-reward-history-heading"
        data-cy="RewardHistoryCreateUpdateHeading"
        jhiTranslate="starMindApp.rewardHistory.home.createOrEditLabel"
      >
        Créer ou éditer un Reward History
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="starMindApp.rewardHistory.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let actionRef = editForm.get('action')!;
        <div class="mb-3">
          <label class="form-label" for="field_action" jhiTranslate="starMindApp.rewardHistory.action">Action</label>
          <input type="text" class="form-control" name="action" id="field_action" data-cy="action" formControlName="action" />
          @if (actionRef.invalid && (actionRef.dirty || actionRef.touched)) {
            <div>
              @if (editForm.get('action')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let actionDateRef = editForm.get('actionDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_actionDate" jhiTranslate="starMindApp.rewardHistory.actionDate">Action Date</label>
          <div class="d-flex">
            <input
              id="field_actionDate"
              data-cy="actionDate"
              type="datetime-local"
              class="form-control"
              name="actionDate"
              formControlName="actionDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (actionDateRef.invalid && (actionDateRef.dirty || actionDateRef.touched)) {
            <div>
              @if (editForm.get('actionDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('actionDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="starMindApp.rewardHistory.description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_reward" jhiTranslate="starMindApp.rewardHistory.reward">Reward</label>
          <select
            class="form-control"
            id="field_reward"
            data-cy="reward"
            name="reward"
            formControlName="reward"
            [compareWith]="compareReward"
          >
            <option [ngValue]="null"></option>
            @for (rewardOption of rewardsSharedCollection; track $index) {
              <option [ngValue]="rewardOption">{{ rewardOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_idea" jhiTranslate="starMindApp.rewardHistory.idea">Idea</label>
          <select class="form-control" id="field_idea" data-cy="idea" name="idea" formControlName="idea" [compareWith]="compareIdea">
            <option [ngValue]="null"></option>
            @for (ideaOption of ideasSharedCollection; track $index) {
              <option [ngValue]="ideaOption">{{ ideaOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
