<div>
  <h2 id="page-heading" data-cy="GlobalChatHeading">
    <span jhiTranslate="starMindApp.globalChat.home.title">GlobalChats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="starMindApp.globalChat.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-global-chat"
        [routerLink]="['/global-chat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="starMindApp.globalChat.home.createLabel">Créer un nouveau Global Chat</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (globalChats?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="starMindApp.globalChat.home.notFound">Aucun Global Chat trouvé</span>
    </div>
  }

  @if (globalChats && globalChats.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="starMindApp.globalChat.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (globalChat of globalChats; track trackId(globalChat)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/global-chat', globalChat.id, 'view']">{{ globalChat.id }}</a>
              </td>
              <td>{{ globalChat.name }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/global-chat', globalChat.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/global-chat', globalChat.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(globalChat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
